.mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-write-color);
    
    flex-direction: column;
    justify-content: space-between;

    padding: 48px 40px 48px 40px;

    @media screen and (max-width: 767.98px) {
    &.is-open {
        position: fixed;
        display: flex;
        z-index: 1;
    }
    }
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-menu__link {
    font-weight: var(--medium-font-weight);
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &.current {
        color: var(--accent-color);
    }

    @media screen and (max-width: 479.98px) {
        font-size: 36px;
    }
}

.mobile-contacts__list {
    margin-top: auto;
    margin-bottom: 64px;
}

.mobile-contacts__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-contacts__link {
    font-weight: var(--medium-font-weight);
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--accent-color);

    @media screen and (max-width: 479.98px) {
        font-size: 26px;
    }
}

.mobile-mail__link {
    font-weight: var(--medium-font-weight);
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

.mobile-social__item {
    display: inline;
    font-weight: var(--medium-font-weight);
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent-color);

    &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
        margin-right: 10px;
    }

    @media screen and (max-width: 479.98px) {
        font-size: 10px;
    }
}



