:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-write-color: #ffffff;
    --complementary-color: rgba(255, 255, 255, 0.6);
    --background-button-color: #f5f4fa;
    --logo-color: #000000;
    --background-section-color: #2f303a;
    --secondary-bg-color: #188ce8;
  
    --regular-font-weight: 400;
    --medium-font-weight: 500;
    --bold-font-weight: 700;
    --black-font-weight: 900;
  
    --main-font-size: 14px;
    --secondary-font-size: 16px;
  
    --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }