.card-set {
    padding-top: 94px;

    @media screen and (max-width: 1199.98px) {
      padding-top: 60px;
    }
  }
  
.card-set__projects {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;  

  @media screen and (max-width: 767.98px) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
  
.card-set__item:not(:last-child) {
  @media screen and (max-width: 767.98px) {
  margin-right: 8px;
  margin-bottom: 21px;
}

@media screen and (min-width: 768px) {
  margin-right: 8px;
}
}
  
.button__primary {
  color: var(--title-text-color);
  background-color: var(--background-button-color);
  font-weight: var(--medium-font-weight);
  line-height: 1.62;


  &:hover,
  &:focus {
    color: var(--primary-write-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);  
  }

  @media screen and (min-width: 480px) {
    padding: 6px 22px 6px 22px;
  }

  @media screen and (min-width: 1200px) {
    padding: 10px 32px 10px 32px;
    }
}

.button__primary--active {
  color: var(--primary-write-color);
  background-color: var(--accent-color);
  font-weight: var(--medium-font-weight);
  line-height: 1.62;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
  @media screen and (min-width: 480px) {
    padding: 6px 22px 6px 22px;

  @media screen and (min-width: 1200px) {
    padding: 10px 32px 10px 32px;
    }
  }
}